[submodule "third_party/ps5-unified-autoloader"]
	path = third_party/ps5-unified-autoloader
	url = https://github.com/itsPLK/ps5-unified-autoloader.git
[submodule "third_party/ps5-elfldr"]
	path = third_party/ps5-elfldr
	url = https://github.com/itsPLK/ps5-elfldr.git
[submodule "third_party/ps5-webkit-remote-loader"]
	path = third_party/ps5-webkit-remote-loader
	url = https://github.com/itsPLK/ps5-webkit-remote-loader.git